<a href="#register" role="button" class="" data-toggle="modal">
    <div class="col-md-6 user-btn">
        <img class="icon" src="{{ asset('bundles/flyaroundcore/images/connexion.png') }}" alt="logo de Flyaround">
        inscription
    </div>
</a>

<a href="#connexion" role="button" class="" data-toggle="modal">
    <div class="col-md-6 user-btn">
        <img class="icon" src="{{ asset('bundles/flyaroundcore/images/cadenas.png') }}" alt="separateur">
        connexion
    </div>
</a>



