/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar.idea/FlyAround_s2.iml .idea/encodings.xml .idea/frameworkRootSettings.xml .idea/misc.xml .idea/modules.xml .idea/scopes .idea/symfony2.xml .idea/vcs.xml .idea/workspace.xml
