

#nouvellesinfos
{
    display: inline-block;

}


.iconesactualites img
{
    width: 10%;
    height: 30px;
}

.photoface img
{
    width: 30%;
    height: 50px;
}

p
{
 text-align: right;
    font-size: 10px;
}
#carouselactualites
{
    width:50%;
    height:200px;
    color:white;
}