.page{
  width: 600px;
  height: 600px;
}
header{
  width: 600px;
  height: 110px;
  margin-bottom: 10px;
  text-align: center;
}
.care{
  width: 197px;
  height: 110px;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#care1{
  padding-top: 10px;
}
.icone{
  width: 200px;
  height: 35px;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  text-align: center;
}
.ico{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
}
#ico1{
  top: -3px;
}
#ico2{
  top: 35px;
}
#ico3{
  top: 73px;
}
.geo{
  text-align: left;
  margin: 0px 0px 0px 40px;
  font-size: 11px;
}
#line{
  width: 40px;
  height: 1px;
  background-color: #000000;
  margin: 0 auto;
  margin-bottom: 20px;
}
#bouton{
  width: 170px;
  height: 25px;
  color: blue;
  font-size: 13px;
  border-radius: 7px;
  box-shadow: 0px 4px 0px #B2B2B2;
  text-align: right;
  margin-top: 30px;
}
#flag{
  height: 20px;
  width: 20px;
}
p{
  margin: 0;
}
#logo{
  height: 60px;
  width: 60px;
  margin: 0 auto;
}
#line2{
  width: 40px;
  height: 2px;
  background-color: #C0C0C0;
  margin: 0 auto;
  margin-bottom: 35px;
}
#croix{
  width: 25px;
  height: 25px;
  position: absolute;
  left: 580px;
}
#box{
  width: 600px;
  height: auto;
  text-align: center;
  background-color: #F2F2F2;
  padding-top: 160px; /*Marge pour le slider*/
}
.vue{
  width: 230px;
  height: 215px;
  display: inline-block;
  margin: 0px 20px 40px 20px;
  overflow: hidden;
  text-align: center;
}
.vue:hover{
  box-shadow: 3px 3px 3px #888888;
}
.profil{
  width: auto;
  height: 55px;
  background-color: white;
  text-align: center;
}
.avatar{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  float: left;
  margin: 8px 0px 0px 8px;
}
.embleme{
  width: 40px;
  height: 40px;
  margin: 8px 8px 0px 0px;
  float: right;
}
#desc{
  font-size: 16px;
}

.build{
  width: 200px;
  height: 200px;
}
.decor{
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#decor1{
  background-image: url('http://localhost/flyaround_s2/src/Flyaround/MapBundle/Resources/public/img/chateau.jpg');
}
#decor2{
  background-image: url('http://localhost/flyaround_s2/src/Flyaround/MapBundle/Resources/public/img/fribourg.jpg');
}
#decor3{
  background-image: url('http://localhost/flyaround_s2/src/Flyaround/MapBundle/Resources/public/img/corse4.jpg');
}
#decor4{
  background-image: url('http://localhost/flyaround_s2/src/Flyaround/MapBundle/Resources/public/img/chateau.jpg');
}
#line3{
  width: 45px;
  height: 1px;
  background-color: #C0C0C0;
  margin: 0 auto;
}
.name{
  margin: 0px;
}
.dynamicText{
  padding-top: 5px;
    width:110px;
  display: inline-block;
    text-align: center;
}
.icone2{
  width: 40px;
  height: 40px;
  margin: 120px 15px 0px 15px;
}
.effet{
  box-shadow: 3px 3px 3px #888888;
}
